<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
    <body>
        <div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/101.webp');
    height: 100vh;
  "
><div>
        <div class="text-right p-2" >
            <a href="/dashboard" class="btn btn-info">Home</a>
            <a href="/post" class="btn btn-info ">Post</a>
            <a href="/blogs" class="btn btn-info">Blog</a>
            <a href="/new" class="btn btn-info">Vehicles Form</a>
            <a href="/vehicles" class="btn btn-info"> Travel Vehicles</a>
            <a href="/vote" class="btn btn-info">Vote</a>
            <a href="/logout" class="btn btn-info text-center">Logout</a>

        <h1 class="text-center text-light">SEE WHAT VEHICLES ARE GREAT WHILE TRAVELING, {{user.first_name}}!!!</h1>
        <table class="table table-dark table-striped text-center" >
            <div class="align-items-center">
            <thead >
                <tr class="text-center p-2 text-light justify-content-center">
                    <th><h1>Type</h1></th>
                    <br>
                    <th><h1>Year</h1></th> <br>
                    <th><h1>Safety Rating</h1></th>
                    <th><h1>Description</h1></th>
                </tr>
            </thead>
            <tbody>
                {% for newed in new_system %}
                    <tr class="text-light">
                        <td>{{ newed.type }}</td>
                        <td>{{ newed.year }}</td>
                        <td> {{newed.safety}}</td>
                        <td>{{ newed.description }} <td>
                            <tr>
                            {% if newed.user.id == session["user_id"]%}
                            <td><a href="/edit/{{newed.id}}" class="btn btn-info">Edit</a></td>
                            <td><a href="/delete/{{newed.id}}" class="btn btn-info">Delete</a></td>
                            {%endif%}
                        </tr>
                        </td>
                    </tr>
                {%endfor%}
    
            </tbody>
            </div>
        </table>
    </div>
</body>
</html>
