<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: rgb(57, 55, 55); backdrop-filter:inherit ;">
    <div>
        
        </div>
        <div class="text-right p-2" >
            <a href="/dashboard" class="btn btn-info">Home</a>
            <a href="/post" class="btn btn-info ">Post</a>
            <a href="/blogs" class="btn btn-info">Blog</a>
            <a href="/new" class="btn btn-info">Vehicles Form</a>
            <a href="/vehicles" class="btn btn-info"> Travel Vehicles</a>
            <a href="/vote" class="btn btn-info">Vote</a>
            <a href="/logout" class="btn btn-info text-center">Logout</a>

            </div>
    <div >
        <div class="justify-content-center">
    <img src="{{url_for('static', filename='AdobeStock_202844841.jpeg')}}" style="height: 300px; width: 600px;" class="img-responsive center-block d-block mx-auto" />
        </div>
        <div class="text-center">
            <h1 style="font-style: italic; text-align: center;" class="text-light">Bali</h1>
            <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
        </div>
        <div class="col-lg-12">
    <img src="{{url_for('static', filename='Amsterdam.jpg')}}" style="height: 300px;width: 600px;"  class="img-responsive center-block d-block mx-auto" />
        </div>
        <div class="text-center">
            <h1 style="font-style: italic; text-align: center;" class="text-light">Amsterdam</h1>
            <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
        </div>
    <div>
    <img src="{{url_for('static', filename='Uganda.jpg')}}" style="height: 300px; width: 600px; text-align: center;" class="img-responsive center-block d-block mx-auto" />
    </div>
    <div class="text-center">
        <h1 style="font-style: italic; text-align: center;" class="text-light">Uganda</h1>
        <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
    </div>
    <div>
    <img src="{{url_for('static', filename='Australia.jpg')}}" style="height: 300px; width: 600px;" class="img-responsive center-block d-block mx-auto" />
    </div>
    <div class="text-center">
        <h1 style="font-style: italic; text-align: center;" class="text-light">Australia</h1>
        <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
    </div>
    <div>
    <img src="{{url_for('static', filename='Japan.jpg')}}" style="height: 300px; width: 600px;" class="img-responsive center-block d-block mx-auto" />
    </div>
    <div class="text-center">
        <h1 style="font-style: italic; text-align: center;" class="text-light">Japan</h1>
        <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
    </div>
    <div>
    <img src="{{url_for('static', filename='Iceland.jpg')}}" style="height: 300px; width: 600px;" class="img-responsive center-block d-block mx-auto" />
    </div>
    <div class="text-center">
        <h1 style="font-style: italic; text-align: center;" class="text-light">Iceland</h1>
        <a href="/dashboard" class="btn btn-info" style="text-align:center; margin-bottom: 20px;">Vote!</a>
    </div>
    </div>
    </body>
</html>